{% extends 'base.html' %} 
{% load bootstrap4 %}
{%  block content %} 

<div class="container">
    <div class="row">
        {% for image in images %}
        <div class="col-md-4">
            <div  style="padding: 10px" >
              
                <img src="{{image.image.url}}" alt="{{image.image_caption}}" class="img-responsive" style=" max-width:80%; max-height: 80%;">
               <p> <a href="{% url 'comment' image.id %}">Add a Comment</a></p>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}